.hero {
	background-image: url('../../images/banner.png');
	background-size: cover;
	padding: 70px 0;
	min-height: 350px; 
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	*zoom: 1; 
}
.container:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0; 
}
@media (min-width: 768px) {
	.container {
		width: 750px; 
	} 
}
@media (min-width: 992px) {
	.container {
		width: 970px; 
	} 
}
@media (min-width: 1200px) {
	.container {
		width: 1170px; 
	} 
}

.container-fluid {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	*zoom: 1; 
}
.container-fluid:after {
	content: " ";
	clear: both;
	display: block;
	overflow: hidden;
	height: 0; 
}

.find-location {
	position: relative;
	margin-bottom: 70px; 
}
.find-location input[type="text"] {
	width: 100%;
	padding: 20px 50px 20px 20px;
	background: #1e202b;
	color: white; 
}
.find-location input[type="submit"] {
	position: absolute;
	top: 5px;
	right: 5px;
	bottom: 5px;
	padding: 0 40px; 
}