.button{
  border: none;
  background: #009ad8;
  padding: 10px 20px;
  border-radius: 30px;
  color: white; 
}

.update-button{
  border: none;
  background: #28a745;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
  margin: 0 10px;
}

.delete-button{
  border: none;
  background: #dc3545;
  padding: 10px 20px;
  border-radius: 30px;
  color: white; 
}